. container{
    /* background-color: khaki;
    height:500px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
     */

     display: flex;
     height: 100vh;
     justify-content: center;
     align-items: center;
     flex-direction: column;

}
#clock{
    /* background-color: black;
    height: 50px;
    width: 150px;
    padding-top: 100px; 
    /* margin-bottom: 80px; */
    /* padding-left: 50px;
    align-self: center;
    color: bisque;
    font-size: 30px; */ 

    font-size: 40px;
        background-color: orange;
        padding: 20px 50px;
        margin-top: 10px;
        border-radius: 10px;
   

}